.header {
  padding: 30px 0 50px 0;
  font-family: var(--font-main);
  font-weight: 600;
  line-height: 20px;
  background-color: #fff;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
  }

  &__phone {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: right;
    color: var(--text-color);
    transition: all 0.3s ease;

    &:hover {
      color: var(--accent-color);
    }
  }

  &__num {
  }
}

.nav-list {
  display: flex;
  gap: 30px;

  &__item {
    &:hover > * {
      color: var(--accent-color);
    }
  }

  &__link {
    color: var(--text-color);
    transition: all 0.3s ease;
  }
}
