.header {
  padding: 30px 0 50px 0;
  font-weight: 600;
  font-size: 16px;
	background-color: #fff;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__phone {
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;

    &:hover {
      color: var(--accent-color);
    }
  }
}

.menu {
  &__list {
    display: flex;
    gap: 30px;
  }

  &__list-item {
    &:hover > a {
      color: var(--accent-color);
    }
  }

  &__list-link {
    transition: all 0.3s ease;
    color: var(--text-color);
  }
}
.mobile-nav-btn {
}
.nav-icon {
}
