.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.modal-form {
  position: relative;
  max-width: 500px;
  &__title {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 50px;
  }
  &__title-text {
  }
  &__content {
  }
  &__input {
    width: 100%;
    border-bottom: 1px solid var(--text-color);
    padding: 15px;
    margin-bottom: 30px;
  }
  &__box {
  }
  &__btn {
    min-width: 500px;
    margin-bottom: 20px;
  }
  &__desc {
    font-size: 12px;
    color: var(--secondary-text-color);
  }
}

.close-modal-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.error .modal-form__input {
  border: red;
}