.card {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
  color: white;
}

/* Animated border gradient */
/* adapted bridge.codes site */
.card.animated {
  position: relative;
  padding: var(--border);
  border-radius: var(--radius);
  overflow: hidden;
}

/* @property is NOT supported by all browsers, but it lets us transition CSS variables */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@property */
@property --color {
  syntax: "<color>";
  inherits: false;
  initial-value: red;
}

/* Adapted from https://twitter.com/aleksliving/status/1620874863690014721?s=20 */
.card.radial {
  overflow: visible;
  background: rgb(255 255 255 / 8%);
  /* border color */
  position: relative;
  border-radius: var(--radius);
}

.radial .border {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  position: absolute;
  z-index: 0;
  background: radial-gradient(50% 50% at 50% 50%, var(--color), transparent);
  background-position: 50% -50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  animation: 4s linear radial-rainbow infinite;
}

.radial .border.glow {
  filter: blur(18px);
}

.radial .border.fill {
  /*  make slightly smaller than parent container for a border effect  */
  --size: calc(100% - var(--border));
  width: var(--size);
  height: var(--size);

  /* outer card radius - border width */
  border-radius: calc(var(--radius) - calc(var(--border) / 2));

  z-index: 1;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes radial-rainbow {

  0%,
  100% {
    --color: red;
    background-position: 50% -50%;
  }

  12.5% {
    --color: orange;
    background-position: 150% -50%;
  }

  25% {
    --color: yellow;
    background-position: 150% 50%;
  }

  37.5% {
    --color: green;
    background-position: 150% 150%;
  }

  50% {
    --color: blue;
    background-position: 50% 150%;
  }

  62.5% {
    --color: indigo;
    background-position: -50% 150%;
  }

  75% {
    --color: purple;
    background-position: -50% 50%;
  }

  87.5% {
    --color: violet;
    background-position: -50% -50%;
  }
}

.single .border {
  background: radial-gradient(50% 50% at 50% 50%,
      var(--single-color),
      transparent);
  background-position: 50% -50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}