.main-block {
	background-color: #fff;
	padding-bottom: 50px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__info {
  }

  &__title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 31px;
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 34px;
  }

  &__item {
    display: flex;
    gap: 5px;
    font-weight: 500;
    line-height: 20px;
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__item::before {
    content: url("../../img/header/check-white.svg");
  }

  &__item:nth-child(1)::after {
    content: url("../../img/header/check-blue.svg");
    position: absolute;
  }

  &__socials {
    display: flex;
    gap: 15px;
  }

  &__img {
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 88%;
    background-color: var(--accent-color);
    color: #fff;
    text-align: center;
    font-family: var(--font-secondary);
    padding: 64px 27px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    z-index: 1000;
    transition: all 1s ease;
  }

  &__button:hover {
    padding: 67px 30px;
  }
	
  &__box {
    position: relative;
    min-width: 650px;
    min-height: 540px;
  }
}
